<!DOCTYPE html> 	
<html>

<head>
	<title>DashBoard</title>

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item nav">
                <button class="btn btn-primary" data-target="#exampleModal" data-toggle="modal"
                        type="button">Upload
                </button>

                <!-- Modal -->
                <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"
                     role="dialog" tabindex="-1">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Upload Image</h5>
                                <button aria-label="Close" class="close" data-dismiss="modal"
                                        onclick="$('#gallery').empty()"
                                        type="button">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    Select images: <input id="image_selected" multiple
                                                          name="img" onchange="preview_image(event)"
                                                          onclick="$('#gallery').empty()"
                                                          type="file">
                                </form>

                                <div id="gallery">
                                    <!-- images for preview goes here-->
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-dismiss="modal" id="closeModal1"
                                        onclick="$('#gallery').empty()" type="button">Close
                                </button>
                                <button class="btn btn-primary" onclick="upload()" type="button">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#" id="signin-singout" onclick="logout()">SignIn</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="publicpictures.html" id="public_pictures">Public Pictures</a>
            </li>


        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" id="serachforthis" placeholder="Search"
                   type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" data-target=".bd-example-modal-lg"
                    data-toggle="modal" onclick="search(event)" type="button">Search
            </button>
        </form>


        <!-- Button trigger modal -->

        <!--
                                              <div class="overlay" style="position: absolute;transition: all .3s ease;opacity: 0;background-color: #eee;" >
                                                <div class="text" style="color: white;font-family: sans-serif;
                                                    position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-size: 20px;" >Left</div>
                                            </div> -->


    </div>
	</nav>

<div class="container" style="width:500px;">
    <div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" id="showModal"
         id="modal"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal-content">
                <div id="imageContainer">
                </div>
                <div class="modal-footer" id="footer">
                </div>
            </div>


        </div>
    </div>
	</div>

<div id='imageholder'>
		<div id="myrow" class="row text-center">`
		</div>

	</div>

<script crossorigin="anonymous"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" src="https://code.jquery.com/jquery-3.4.1.js">
</script>

<script type="text/javascript">
		function preview_image(event) {
			let imageList = event.target.files;
			let image_number = event.target.files.length;

			console.log('User Selected ' + image_number + ' Images');

			for (var i = 0; i < image_number; i++) {

				let image = imageList[i];
				id = 'image' + i;
				caption_id = "caption" + i;


				// console.log("<img src='"+link+`'class="img-thumbnail">`);

				// let file_reader = new FileReader();
				let link = URL.createObjectURL(image);


				$('#gallery').append(`


					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">@</span>
						</div>
						<input type="text" id="${caption_id}" class="form-control" placeholder="Caption " aria-label="Username"
							aria-describedby="basic-addon1">
					</div>

    		 	
					<div id="${id}">
						<img src="${link}" class="img-thumbnail">
						</br>
						<input type="radio" name="${id}" value="Public">Public</input>
						<input type="radio" name="${id}" value="Private">Private</input>
					</div>	
					`);



			}

		}


		function viewimage(event) {
			$('#imageContainer').empty();
			document.getElementById("footer").innerHTML = `<button type="button" class="btn btn-primary"
							onclick="delete_picuture($('#imageContainer').find('img').attr('id'))">Delete</button>
							<button type="button" id="closeModal" class="btn btn-secondary"
							data-dismiss="modal">Close</button>`;
			document.getElementById("imageContainer").innerHTML =
				`<img class="img-responsive" src="${event.target.src}" id="${event.target.id}" alt="Image" style="max-height:500px;">`;
		}

		function upload() {
			var formData = new FormData();
			var fileInput = document.getElementById("image_selected");
			var images = fileInput.files;
			var file;



			console.log(images.length);
			for (var i = 0; i < images.length; i++) {

				file = images.item(i);
				console.log(file);
				id = 'image' + i;
				caption_id = "caption" + i;
				radioinput = document.getElementById(id);
				caption = document.getElementById(caption_id).value;

				is_private = $(`input[name=${id}]:checked`, `#${id}`).val();
				if (is_private == 'Private') {
					is_private = true;
				} else {
					is_private = false;
				}

				console.log(is_private);

				formData.append(("file" + i), file);
				formData.append(("is_private" + i), is_private);
				formData.append(("caption" + i), caption);

			}

			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:5000/image",
				headers: {
					"Authorization": localStorage.getItem('token')
				},
				data: formData,
				contentType: false,
				cache: false,
				processData: false,
				success: function (data) {
					let imageList = data.imageList;
					console.log(data);
					// let imageholder = document.getElementById('imageholder');
					let link = data.link;
					let rowdiv = document.getElementById("myrow");
					let html;
					for (var i = 0; i < imageList.length; i++) {

						html += `
                            <div class="col-3" >
                                <div style="padding-top:10px;">
                                    <img class="img-thumbnail" src="${imageList[i]}" style="width:200px; height:200px;" onclick="viewimage(event)" data-toggle="modal" data-target=".bd-example-modal-lg">
                                    			<div class="overlay style="" >
													<div class="text">Left</div>			
												</div>
                                </div>
                             </div>
                            `;

						rowdiv.innerHTML += html;
					}

					$('#closeModal').click();
				},
				error: function (response) {
					console.log(response.responseJSON)
				}

			});
		}









		window.onload = getURL();

		function getURL() {

			document.getElementById('signin-singout').innerHTML = "Sign Out";
			$.ajax({
				type: "GET",
				url: "http://127.0.0.1:5000/showimages",
				headers: {
					"Authorization": localStorage.getItem('token')
				},
				success: function (data) {
					let imageList = data.imageList;
					let imageholder = document.getElementById('myrow');
					let html = ``;
					imageList.map(item => {
						html += `
                            <div class="col-3" id="${item.image_id}">
                                <div style="padding-top:10px;">
                                    <img class="img-thumbnail" id="${item.image_id}" src="${item.link}" style="width:200px; height:200px;" onclick="viewimage(event)" data-toggle="modal" data-target=".bd-example-modal-lg">
                                </div>
                             </div>
                            `;
						html += "\n";
					});
					imageholder.innerHTML = html;
				},
				error: function (response) {
					console.log(response.responseJSON)

				}
			});
		}

		function logout() {
			console.log("I'm in");

			localStorage.clear();
			window.location.href = "login.html";


		}


		function delete_picuture(id) {
			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:5000/delete",
				headers: {
					"Authorization": localStorage.getItem('token')
				},
				data: JSON.stringify({
					'image_id': id
				}),
				contentType: 'application/json',
				cache: false,
				processData: false,
				success: function (data) {

					$('#closeModal').click();
					console.log(document.getElementById(data.id));
					document.getElementById(data.id).remove();
					console.log(`#${data.id}`);
					$(`#${data.id}`).remove();

				},

				error: function (response) {
					console.log(response.responseJSON);
				}

			});
		}

		function search(event) {
			look_for = document.getElementById("serachforthis").value;
			$.ajax({
				type: "POST",
				url: "http://127.0.0.1:5000/search",
				headers: {
					"Authorization": localStorage.getItem('token')
				},
				data: JSON.stringify({
					"search": look_for
				}),
				contentType: 'application/json',
				cache: false,
				success: function (data) {
					$('#imageContainer').empty();
					document.getElementById("footer").innerHTML = `
							<button type="button" id="closeModal" class="btn btn-secondary"
							data-dismiss="modal" onclick="$('#imageContainer').empty()">Close</button>`;
					list = data["images"];
					for (var i = 0; i < list.length; i++) {
						image = list[i];

					$('#imageContainer').append(`

					<div id="${image["id"]}">
    		 	
						<h5>${image["caption"]}<h5>
						<img id="${image["id"]}" src="${image["link"]}" class="img-thumbnail" style="max-width:800px;max-height:500px;">
						</br>

					</div>	
					
					`);
						

					}
				},
				error: function (response) {
					console.log(response.responseJSON);
				}
			});
		}


</script>


<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>

<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>

</body>

</html>