<html>

<head>
    <title>Public Pictures</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>

<body>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item nav">
                <a class="nav-link" href="signup.html">SignUp</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="login.html">SignIn<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="public.html" id="public_pictures">Public Pictures</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input aria-label="Search" class="form-control mr-sm-2" id="serachforthis" placeholder="Search"
                   type="search">
            <button class="btn btn-outline-success my-2 my-sm-0" data-target=".bd-example-modal-lg"
                    data-toggle="modal" onclick="search(event)" type="button">Search
            </button>
        </form>


    </div>
</nav>
<div id="carousel-container">


</div>
<div class="container"
">
<div aria-hidden="true" aria-labelledby="myLargeModalLabel" class="modal fade bd-example-modal-lg" id="modal"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modal-content">
            <div id="imageContainer">
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" id="closeModal"
                        type="button">Close
                </button>
            </div>
        </div>


    </div>
</div>
</div>


<script type="text/javascript">
        window.onload = function () {
            $.ajax({
                type: "GET",
                url: "http://127.0.0.1:5000/public",
                success: function (data) {


                    let count = 1;
                    pictureList = data.pictures;
                    for (const [key, value] of Object.entries(pictureList)) {
                        user = key;
                        pictures = value;
                        console.log(pictures);



                        container = document.getElementById("carousel-container");

                        container.innerHTML += `<div class="container" id="${user}"style="text-align:center;">
                                                    <h2>${user}'s Public Pictures</h2>  
                                                    <div id="myCarousel-${count}" class="carousel slide" data-interval="false" data-ride="carousel" style="background-color: grey !important;" >
                                                       
                                                        <ol class="carousel-indicators" id="list">
                                                        </ol>
      
                                                     
                                                        <div class="carousel-inner" id="imageholder">    
                                                        </div>
      
                                                 
                                                        <a class="left carousel-control" href="#myCarousel-${count}" data-slide="prev">
                                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                                        <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="right carousel-control" href="#myCarousel-${count}" data-slide="next">
                                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                                          <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                  </div>`;


                        sequence = document.querySelector(`#${user} #list`);
                        imageholder = document.querySelector(`#${user} #imageholder`);
                        sequencecount = 0;
                        let rowid = user + 0;
                        for (var i = 0; i < pictures.length; i++) {
                            if (sequence.childElementCount == 0) {



                                sequence.innerHTML =
                                    `<li data-target="#myCarousel-${count}" data-slide-to="${sequencecount}" class="active"></li>`;
                                sequencecount += 1;
                                imageholder.innerHTML = `      <div class="carousel-item active" data-interval="false">
                                                              <div class="row" id="${rowid}">
                                                                <div class="col-sm">
                                                                  <img class="img-thumbnail" id="${user+i}" src="${pictures[i]}"onclick="viewimage(event)" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:200px; height:200px;">
                                                                </div>
                                                              </div>
                                                            </div>`;
                            } else if (document.getElementById(rowid).childElementCount < 3) {

                                row = document.getElementById(rowid);
                                if (user == 'umar') console.log(row.childElementCount);

                                row.innerHTML += `
                                                              <div class="col-sm">
                                                                 <img class="img-thumbnail" id="${user+i}" src="${pictures[i]}"onclick="viewimage(event)" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:200px; height:200px;">
                                                              </div>
                                                              `;


                            } else {

                                console.log(user + " in the else condition & value of iteratior : " +
                                    i);

                                row = document.getElementById(rowid);
                                console.log(row.childElementCount);
                                rowid += 1;


                                sequence.innerHTML +=
                                    `<li data-target="#myCarousel-${count}" data-slide-to="${sequencecount}"></li>`;


                                imageholder.innerHTML += `<div class="carousel-item" data-interval="false">
                                                                  <div class="row" id="${rowid}">
                                                                    <div class="col-sm">
                                                                      <img class="img-thumbnail" id="${user+i}" src="${pictures[i]}"onclick="viewimage(event)" data-toggle="modal" data-target=".bd-example-modal-lg" style="width:200px; height:200px;">
                                                                    </div>
                                                                  </div>
                                                                 </div> `
                            }
                        }
                        count += 1;
                    }
                },
                error: function (response) {
                    console.log(response.responseJSON)
                }

            });
        }


        function viewimage(event) {
            document.getElementById("imageContainer").innerHTML =
                `<img src="${event.target.src}" id="${event.target.id}" class="img-thumbnail" style="max-width:800px;max-height:500px;" alt="Image">`;
        }



        function search(event) {
            look_for = document.getElementById("serachforthis").value;
            $.ajax({
                type: "POST",
                url: "http://127.0.0.1:5000/search",
                data: JSON.stringify({
                    "search": look_for
                }),
                contentType: 'application/json',
                cache: false,
                success: function (data) {
                    console.log(data);
                    $('#imageContainer').empty();
                    list = data["images"];
                    for (var i = 0; i < list.length; i++) {
                        image = list[i];

                        $('#imageContainer').append(`

					<div id="${image["id"]}">
    		 	
						<h5>${image["caption"]}<h5>
						<img id="${image["id"]}" src="${image["link"]}" class="img-thumbnail" style="max-width:800px;max-height:500px;">
						</br>

					</div>	
					
					`);


                    }
                },
                error: function (response) {
                    console.log(response.responseJSON);
                }
            }); 
        }

</script>
    <script crossorigin="anonymous" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        src="https://code.jquery.com/jquery-3.4.1.js">
    </script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
</script>
</body>

</html>