<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



	

</head>



<body style="background: grey !important;">


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls=		"navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  		  		<span class="navbar-toggler-icon"></span>
  			</button>

  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
  		  <ul class="navbar-nav mr-auto">
  		    	<li class="nav-item">
  		    	  <a class="nav-link" href="login.html">Dashboard <span class="sr-only">(current)</span></a>
  		    	</li>
  		    	<li class="nav-item nav">
  		      		<a class="nav-link active" href="signup.html">SignUp</a>
  		    	</li>		    	
   		   </ul>

   		   <ul class="nav justify-content-end">
   		   		<li class="nav-item ">
  		      		<a class="nav-link" href="login.html">SignIn</a>
  		    	</li>  		    	
   		   </ul>



  		</div>
	</nav>


<div class="d-flex justify-content-center align-items-center" style="padding-top: 15%">


	<form>
    	<div class="form-group row">
    	
    			<div class="colFormLabelLg">
      				<input type="name" class="form-control" id="inputname" placeholder="Name">
    			</div>
  		</div>
  		<div class="form-group row ">
    	
    			<div class="colFormLabelLg	">
      				<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    			</div>
  		</div>
  		<div class="form-group row">
    			<div class="colFormLabelLg">
      				<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    			</div>
  		</div>
  		<div class="form-group row">
    		<div class="colFormLabelLg">
      			<button type="button" class="btn btn-primary" onclick="signup()">Sign Up</button>
    		</div>
  		</div>

	</form>
</div>
	<script type="text/javascript">
		function signup(){

			let name = document.getElementById('inputname').value;
			let email = document.getElementById('inputEmail3').value;
			let password = document.getElementById('inputPassword3').value;

			$.ajax({
				type:"POST",
				url:'http://127.0.0.1:5000/signup',
				data: JSON.stringify({"name":name,"email":email,"password":password}),
				// beforeSend: function(xhrObj){
    //         	//xhrObj.setRequestHeader("Content-Type","application/json");
    //         	//xhrObj.setRequestHeader("Accept","application/json");
    //      		xhrObj.setRequestHeader("Access-Control-Allow-Headers","x-requested-with");
    //     		},
	            contentType: 'application/json',
    	        cache: false,
        	    processData: false,
            	success: function (data) {
                	console.log(data)
                	window.location.href = "login.html";
            	},
            		error: function (response) {
                		console.log(response.responseJSON)
            		}
        });

			

			}
		

	</script>


	<script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>




	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>